html {
  height: 100%;
  width: 100%;
}


body { 
    font-family: 'Noto Serif', serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

}

.landing_page {
    background: url("../images/cover2.jpg") no-repeat top center;
    background-size: cover;
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 0;
    color: white;
    text-align: center;
    font-size: 50px;
}
.not_landing_page {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#title_box {
  padding-top: 75vh;
  padding-left: 7vw; 
  color: white;
  font-family: 'Noto Serif', serif;
  font-weight: bold;
  padding-bottom: 20vh;
  text-align:left;
}

h1 {
  font-size: 6vw;
  font-weight: 225; 
}

h2 {
  font-size: 5vh; 
  font-weight: 225;
  font-style: italic; 
}


.article { 
	margin-top: 5%;
  margin-bottom: 5%;
	margin-left: 20vw;
	margin-right: 20vw;
  font-size: 3vh;
 }

 p {
  text-align: justify;
 }

.drop_cap {
    float: left;
    font-size: 10vh;
    line-height: 1;
    font-weight: bold;
    margin-right: 9px;
}

.section_heading { 
    text-align: center;
    font-size: 5vh;
    padding-bottom: 2vh;
    font-weight: bold;
    font-style: italic;
    padding-top: 5%;
    padding-bottom: 5%;
}
.section_heading hr { 
    display: block;
    margin-top: .25em;
    margin-bottom: .25em;
    margin-left: 43%;
    margin-right: 43%;
    border-style: inset;
    border-width: 1px;
}
.pull_quote hr { 
    display: block;
    margin-top: 0em;
    margin-bottom: .2em;
    margin-left: auto;
    margin-right: 45%;
    border-style: inset;
    border-width: 1px;
}

#map {
  width: 100%;
  height: 400px;
  background-color: grey;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.pull_quote {
  font-size: 175%;
  padding-bottom: 7%;
  padding-top: 7%;
  font-weight: bold;
  text-align: left;
  padding-right: 30%;
}

.photo_box { 
  margin-left: 5% ;
  margin-right: 5%;
}

.caption { 
  font-size: 2.5vh;
  font-style: italic;
}

.single_photo {
  margin-top: 5%;
  margin-bottom: 5%;
}

.photo_quote_box { 
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-size: 3vh;
  text-align: justify;
}

.single_wide {
  margin-left: 10%;
  margin-right: 10%;
}


@media only screen and (max-width: 720px) {  
  .pull_quote {
    padding-right: 0%;
  }
  .landing_page{
    background: url("../images/cover2-mobile.jpg") no-repeat top center;
  }
      
} 

